body {
    background-color: black;
}

header {
    text-align: center;
    color: whitesmoke;
}

nav {
    text-align: center;
    display: block;
    width: 60px;
    height: 100%;
}

aside{
    text-align: justify;
    color: black;
    background-color: white;
    position: absolute;
    width: 200;
    height: 100;
    padding: 10px;
}

section {
    text-align: justify;
    color: greenyellow;
    background-color: white;
    position: absolute;
    width: 200;
    height: 100;
    padding: 10px;
}

article {
    position: absolute;
}

footer {
    text-align: center;
}

Email {
    color: whitesmoke;
}