* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

header {
    background-color: pink;
    text-align: center;
    font-size: large;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: beige;
    width: 25%;
    text-align: center;
    height: 100%;
    position: fixed;
    z-index: 1;
}

li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none
}

article {
    background-color: blue;
    padding-left: 25%;
}



footer {
    background-color: palevioletred;
}