body {background-color: black;
color: whitesmoke;}

header {text-align: center;
color: grey;}

nav {text-align: center;
color: blue;
background-color: aqua;}

p {color: whitesmoke;}

footer {text-align: center;}
